{% block sidebar %}



<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Sobre o projeto</h5>
        <div class="card-body">
            <p class="card-text">Esse projeto foi elaborado usando Django framework e teve como objetivo projeto de conclusão de curso para desenvolvedor fullstack python na EBAC</p>
            <a href="https://ebaconline.com.br/full-stack-python?utm_source=google&utm_medium=cpc&utm_campaign=course_48_backend-java_google_search_all_conversions_ad-group-DSA-campaing&utm_content=c_20457767757|adg_156076942521|ad_670099763683|ph_dsa-2172658784159|key_|dev_c|pst_|rgnid_9100880|placement_&gad_source=1&gclid=CjwKCAjw1emzBhB8EiwAHwZZxXIvy2c7fDmLYwB5mrdyjK0pDnyRGgosHq40PiwYZIgrkXpn9r9mhhoCj-EQAvD_BwE" class="btn btn-danger">Conheça o curso</a>
        </div>
    </div>
</div>

{% endblock sidebar %}